.content {
    position: absolute;
    top: 49px;
    left: 226px;
    width: 1140px;
    height: 719px;
}

.div-table {
    position: absolute;
    margin: 110px 16px 58px 16px;
    width: 1108px;
    height: 590px;
    overflow: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    text-align: left;
    height: 48px;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

td {
    border-top: 1px solid #bbbbbb;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    height: 48px;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

tr:nth-child(even) {
    background-color: #E9EBEE;
}