@font-face {
    font-family: GsBlack;
    src: url('../content/font/GoogleSans-Black.otf');
}

@font-face {
    font-family: GsBlackItalic;
    src: url('../content/font/GoogleSans-BlackItalic.otf');
}

@font-face {
    font-family: GsRegular;
    src: url('../content/font/GoogleSans-Regular.otf');
}

@font-face {
    font-family: GsBold;
    src: url('../content/font/GoogleSans-Bold.otf');
}

@font-face {
    font-family: GsItalic;
    src: url('../content/font/GoogleSans-Italic.otf');
}

@font-face {
    font-family: GsBoldItalic;
    src: url('../content/font/GoogleSans-BoldItalic.otf');
}

@font-face {
    font-family: GsLight;
    src: url('../content/font/GoogleSans-Light.otf');
}

@font-face {
    font-family: GsLightItalic;
    src: url('../content/font/GoogleSans-LightItalic.otf');
}

@font-face {
    font-family: GsMedium;
    src: url('../content/font/GoogleSans-Medium.otf');
}

@font-face {
    font-family: GsMediumItalic;
    src: url('../content/font/GoogleSans-MediumItalic.otf');
}

@font-face {
    font-family: GsThin;
    src: url('../content/font/GoogleSans-Thin.otf');
}

@font-face {
    font-family: GsThinItalic;
    src: url('../content/font/GoogleSans-ThinItalic.otf');
}